@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Inico Estilo Global pagina */
/* Inico Estilo Global pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Fim Estilo Global pagina */
/*Fim Estilo Global pagina */



.container{
    max-width: 1500px;
    margin: 0 'auto';
}

/*Inicio Estilo da barra de navegação */
/*Inicio Estilo da barra de navegação */


.navbar{
    width: 100%;
    position: fixed;
    font-family:'Ubuntu', sans-serif;
    background-color: crimson;
    z-index: 1;
    padding: 0;


}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between; 

}
.navbar:hover{
    background-color: red;

}
.navbar .menu li a{
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;
}
.navbar .menu li{
    display: inline-block;
}

.navbar .logo a{
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo span{
    color: black;
}

.navbar .menu li a:hover{
    color: black;
}

.menu-btn{
    color: #FFF;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* @media (max-width: 900px) {
    .container{ 
        padding: 0 0px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        background-color: black;
        color: white;relative
        display: inline-block;
        margin: 20px 0;
        font-size: 30px;
    }
    .navbar .menu li a:hover{
        color: crimson;
    }
} */
/*Fim Estilo da barra de navegação */
/*Fim Estilo da barra de navegação */

/*Inicio Estilo Home */
/*Inicio Estilo Home */



.home {
    display: flex;
    background: url(Images/Banner.png) no-repeat center;
    background-size: cover;
    color: #FFF;
    font-family:'Ubuntu', sans-serif;
    min-height: 500px;
    height: 100vh;
}
.home .container{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 700;
}
.home .home-content .text-3 span:hover{
    color: red;
    cursor: pointer;
}
.mais button{
    width: 200px;
    font-size: 27px;
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
    color: #FFF;
    border: 2px red solid;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 crimson;
    transition: ease-out 0.3s;
}

.mais button:hover{
    box-shadow: inset 200px 0 0 0 red;
    color: black;
    border: 2px black solid;
} 

/* Estilo da seccao sobre mim */
.about{
    font-family: 'Poppins',sans-serif;
    padding-top: 100px;
}

.about__title{
    font-family: 'Ubuntu',sans-serif;
    font-size: 90px;
    max-width: 600px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-left: 80px;
    padding-bottom: 50px;
    text-align: center;
    color: red;
    border-bottom: 10px black solid;
    border-radius: 8px;

}
.about-content{
    display: flex;
    gap:2rem;
}

.about-content .collum__right{
    font-size: 45px;
    min-width: 200px;
    font-weight: 600;
}
.collum__left img{
    width: 700px;
}
.container{
    margin: 40px auto;
    line-height: 55px;
}
.link-text {
    color: crimson;
    font-weight: 600;
    text-align: start;
}
.link-text:hover {
    color: red;
    font-weight: 700;
}

.project{
    margin: 0px 0 70px 0;
    background: url(./Images/6017213.jpg) no-repeat center;
    object-fit: cover;
}


.project__title{
    font-family: 'Ubuntu',sans-serif;
    font-size: 90px;
    max-width: 600px;
    font-weight: 700;
    margin: 20px auto;
    padding-bottom:20px;
    padding-top: 100px;
    color: red;
    border-bottom: 10px black solid;
    border-radius: 8px;
    text-align: center;
}

.project .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.project .container img{
    width: 300px;
    cursor: pointer;
    border-radius: 12px;
}

.project .container img:hover{
    transform: scale(0.5) rotate(360deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
    transition-duration:2s;
    z-index: -1;
}



footer{
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-decoration: none;
    list-style: none;
}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}   

.footer__desc{
    font-size: 1.4rem;
    color: #FFF;
    margin-bottom: 2rem;
}

.footer__social__title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #FFF;
}


.footer__social li{
    display: inline-block;
    margin-right: 0.5rem;
}
.footer__text__title {
    font-family: 'Popinns';
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom : 1rem;
    color:  #FFF
}
.footer__text a{
    font-size: 1.4rem;
    font-family: 'Popinns',sans-serif;
    margin-bottom: 0.5rem;
    color:  #FFF;
    font-weight: 500;
    line-height: 1.4rem;
}



.links-txt:hover{
    color: red;
}

@media only screen and (min-width: 768px) {
    }
    .footer__wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__desc{
        max-width: 300px;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        line-height: 2.5rem;
    }
    .footer__social__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .footer__text__title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .footer__text a{
        font-family: 'Popinns',sans-serif;
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 2.5rem;
    }
    .footer__social img{
        width: 50px;
        align-items: center;
    }
    .footer__social img:hover{
        background-color:  white;
    }
    
    

.copyright{
    padding: 1rem 0;
}
.copyright__text {
    font-family: 'Popinns',sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
}
